<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741204522156-ibkm4escan8beehn0oifrqfjdbfs5lbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741204522156-ibkm4escan8beehn0oifrqfjdbfs5lbd</string>
	<key>API_KEY</key>
	<string>AIzaSyCteU2f4ATNxJClFbvj8GGEc5TMPFws44A</string>
	<key>GCM_SENDER_ID</key>
	<string>741204522156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kosherapp.ravaharonlevi</string>
	<key>PROJECT_ID</key>
	<string>rav-aharon-levi</string>
	<key>STORAGE_BUCKET</key>
	<string>rav-aharon-levi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741204522156:ios:b17edb6a0de107ddd4db09</string>
</dict>
</plist>